
    .tabtss{
    font-size: 20px;
    max-width: 12;
   
    }
    .wrtt{
        font-size: 18px;
        width: 90%;
        word-break: keep-all;

    }
    #about{
        display: none;
    }
    #become{
        padding-block: 5px;
        
    }
    #team,.team,.responsive{
        display: none;
    }


